src/shared/revision.h
build/
bin/
.directory
*.orig
*.rej
*~
.git/
win/VC90/*/
*.ncb
*.suo
dep/lib/win32*
src/bindings/scripts/VC90/*/
src/mangosd/
src/realmd/
src/trinitycore/trinity-core
src/trinityrealm/trinity-realm
cmake_uninstall.cmake
*.*-*
*.o
*.a
*.cmake
*.so.*
*.so
genrev
CMakeFiles
CMakeCache.txt

# use regexp syntax.
syntax: regexp

^src/shared/revision\.h
